@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('/fonts/ZenMaruGothic-Regular.ttf');
}

@font-face {
  font-family: 'Sawarabi Mincho';
  src: url('/fonts/SawarabiMincho-Regular.ttf');
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
}
